# Sets

In [2]:
s=set()
print(s)
type(s)

set()

set

In [3]:
s={1,2,3,4,5}

In [4]:
s

{1, 2, 3, 4, 5}

In [5]:
s={1,2,33,33}

In [6]:
s

{1, 2, 33}

In [8]:
set('1')

{'1'}

In [9]:
set('33')

{'3'}

In [10]:
set('2')

{'2'}

In [11]:
set('3')

{'3'}

In [12]:
set('0')

{'0'}

In [14]:
s={'reva','sagar','kushal'}
s

{'kushal', 'reva', 'sagar'}

In [15]:
type(s)

set

In [16]:
s.add('anitha')

In [17]:
s

{'anitha', 'kushal', 'reva', 'sagar'}

In [20]:
s.add(3)

In [21]:
s

{3, 'anitha', 'kushal', 'reva', 'sagar'}

In [22]:
t={'harish','sagar'}

In [25]:
print(t)
print(s)

{'sagar', 'harish'}
{'sagar', 'anitha', 3, 'kushal', 'reva'}

In [27]:
s.difference(t)

{3, 'anitha', 'kushal', 'reva'}

In [28]:
s.difference_update(t)

In [29]:
s

{3, 'anitha', 'kushal', 'reva'}

In [30]:
t

{'harish', 'sagar'}

In [31]:
t.intersection(s)

set()

In [32]:
s.intersection(t)

set()

# Dictionaries

In [35]:
d={1:'sagar', 2:'kushal', 3:'anitha'}
d

{1: 'sagar', 2: 'kushal', 3: 'anitha'}

In [38]:
type(d)

dict

In [39]:
d[1]

'sagar'

In [40]:
d[3]

'anitha'

In [41]:
for x in d:
    print(x)

1
2
3

In [42]:
for x in d.values():
    print(x)

sagar
kushal
anitha

In [44]:
for x in d.items():
    print(x)

(1, 'sagar')
(2, 'kushal')
(3, 'anitha')

In [45]:
d[4]='harish'

In [46]:
d

{1: 'sagar', 2: 'kushal', 3: 'anitha', 4: 'harish'}

In [47]:
d[4]='kushal'
d

{1: 'sagar', 2: 'kushal', 3: 'anitha', 4: 'kushal'}

In [48]:
s={'sagar':1999}
a={'anitha':1977}
k={'kyushal':2004}

t={'self':s, 'mother':a, "brother":k}

In [49]:
t

{'self': {'sagar': 1999},
 'mother': {'anitha': 1977},
 'brother': {'kyushal': 2004}}

In [51]:
print(t['self'])

{'sagar': 1999}

In [54]:
print(t['self']['sagar'])

1999

# Tuples

In [55]:
t=('sagar','harish')

In [56]:
t

('sagar', 'harish')

In [57]:
t.count('sagar')

1

In [58]:
t.index('harish')

1

In [59]:
t.index('sagar')

0